<mat-toolbar class="flex-shrink-0" color="primary">
    <zodiac-sign [width]="'56px'" [height]="'56px'" [zodiacSign]="zodiacSign"></zodiac-sign>
    <span class="margin-left-8px">{{ title }}</span>
    <span class="flex-grow-1"></span>
    <img *ngIf="afAuth.user | async as user" [src]="user.photoURL">
    <span class="margin-left-8px" *ngIf="afAuth.user | async as user">{{user.displayName}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu"
        [mouseOverAudio]="'mouseOverAudio'"
        [clickAudio]="'clickAudio'">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button
            mat-menu-item
            (click)="preferencesBtnClicked()"
            [mouseOverAudio]="'mouseOverAudio'" [clickAudio]="'clickAudio'">Preferences</button>
        <button
            *ngIf="afAuth.user | async as user"
            mat-menu-item
            (click)="logoutBtnClicked()"
            [mouseOverAudio]="'mouseOverAudio'" [clickAudio]="'clickAudio'">Logout</button>
    </mat-menu>
</mat-toolbar>