<mat-toolbar class="flex-shrink-0" color="primary">
    <zodiac-sign [width]="'56px'" [height]="'56px'" *ngIf="preferencesService.preferences | async as preferences" [zodiacSign]="getZodiacSign(preferences?.birthday)"></zodiac-sign>
    <span *ngIf="!(smallDeviceObs | async)?.matches as largeDevice">
        <span class="margin-left-8px" *ngIf="largeDevice">{{ title }}</span>
    </span>
    <span class="flex-grow-1"></span>
    <img *ngIf="afAuth.user | async as user" [src]="user.photoURL">
    <span *ngIf="!(smallDeviceObs | async)?.matches as largeDevice">
        <span class="margin-left-8px" *ngIf="largeDevice"><span *ngIf="afAuth.user | async as user">{{ user.displayName }}</span></span>
    </span>
    <button *ngIf="afAuth.user | async as user"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        [mouseOverAudio]="'mouseOverAudio'"
        [clickAudio]="'clickAudio'">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu
        #menu="matMenu">
        <button *ngIf="afAuth.user | async as user"
            mat-menu-item
            (click)="preferencesBtnClicked()"
            [mouseOverAudio]="'mouseOverAudio'" [clickAudio]="'clickAudio'">Preferences</button>
        <button *ngIf="afAuth.user | async as user"
            mat-menu-item
            (click)="logoutBtnClicked()"
            [mouseOverAudio]="'mouseOverAudio'" [clickAudio]="'clickAudio'">Sign out</button>
    </mat-menu>
</mat-toolbar>