<div class="flex-grow-1 display-flex">
    <div class="flex-grow-1"></div>
    <div class="display-flex flex-direction-column">
        <div class="flex-grow-1"></div>
        <span class="word-wrap-none">Sign in using {{data.name}}</span>
    </div>
    <div class="flex-grow-1"></div>
</div>
<div class="flex-grow-1 display-flex">
    <div class="flex-grow-1"></div>
    <div class="display-flex flex-direction-column">
        <div class="flex-grow-1"></div>
        <img
            [src]="data.imgSrc"
            [ngStyle]="{'width': (smallDevice | async)?.matches ? '128px' : '128px', 'height': (smallDevice | async)?.matches ? '128px' : '128px'}">
        <div class="flex-grow-1"></div>
    </div>
    <div class="flex-grow-1"></div>
</div>