<header class="flex-shrink-0" [title]="title"></header>
<time-machine
  #timeMachine
  class="flex-grow-1 z-index-1"
  contentClass=""
  [data]="data"
  [trackByFn]="boundTrackByFn"
  perspective="1000px"
  transition="all 1s"
  [translateX]="translateX"
  [translateY]="translateY"
  [translateZ]="translateZ"
  [rotateX]="rotateX"
  [maxTranslateZ]="maxTranslateZ"
  (initContent)="initContent($event)"
  (transformContent)="transformContent($event)"
  (contentActive)="contentActive($event)"
  (contentVisible)="contentVisible($event)"
  (delta)="delta($event)"
  [width]="(smallDevice | async)?.matches ? '320px' : '480px'"
  [height]="(smallDevice | async)?.matches ? '320px' : '320px'">
  <mat-card class="time-machine-content display-flex flex-direction-column justify-content-center"
    *timeMachineContent="let content"
    [ngClass]="{'active': content.active}"
    [mouseOverAudio]="'mouseOverAudio'" [clickAudio]="'clickAudio'"
    [ngSwitch]="content.data.name"
    [ngStyle]="{ 
      'width': (smallDevice | async)?.matches ? '320px' : '480px',
      'height': (smallDevice | async)?.matches ? '320px' : '320px'
    }">
    <email-login *ngSwitchCase="'Email'" [data]="content.data"
      class="flex-grow-1"></email-login>
    <click-login *ngSwitchDefault [data]="content.data"
      class="flex-grow-1"></click-login>
  </mat-card>
</time-machine>
