<time-machine
  #timeMachine
  class="flex-grow-1 z-index-1"
  width="480px"
  height="320px"
  contentClass=""
  [data]="data"
  [trackByFn]="boundTrackByFn"
  perspective="1000px"
  transition="all 1s"
  [translateX]="translateX"
  [translateY]="translateY"
  [translateZ]="translateZ"
  [rotateX]="rotateX"
  [maxTranslateZ]="maxTranslateZ"
  (initContent)="initContent($event)"
  (transformContent)="transformContent($event)"
  (contentActive)="contentActive($event)"
  (contentVisible)="contentVisible($event)"
  (delta)="delta($event)">
  <mat-card class="time-machine-content display-flex flex-direction-column justify-content-center"
    *timeMachineContent="let content"
    [ngClass]="{'active': content.active}"
    [mouseOverAudio]="'mouseOverAudio'" [clickAudio]="'clickAudio'"
    [ngSwitch]="content.data.name">
    <email-login *ngSwitchCase="'Email'" [data]="content.data"></email-login>
    <click-login *ngSwitchDefault [data]="content.data"></click-login>
  </mat-card>
</time-machine>

