:host {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

mat-card {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    color: white;
    cursor: pointer;

    padding: 20px; /* ***Important... padding & border!!! */
    width: 436px; /* + border + padding = 480 px*/
    height: 276px; /* + border + padding = 320 px*/

    display: flex;
    flex-direction: column;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

mat-card.active {
    
}

mat-card:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #673ab7;
    background-color: rgb(103, 58, 183, 0.4);
}

zodiac-sign {
    fill: white;
    stroke: white;
}

::ng-deep mat-progress-spinner.compatibility svg circle {
    stroke: blue;
}

::ng-deep mat-progress-spinner.communication svg circle {
    stroke: green;
}

::ng-deep mat-progress-spinner.sex svg circle {
    stroke: red;
}

img {
    height: 128px;
    width: 128px;
    border-radius: 50%;
}

h2, svg, img, :host ::ng-deep zodiac-sign svg, p {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

