<header class="flex-shrink-0" [title]="title" (logout)="onLogout()"></header>
<time-machine
  #timeMachine
  class="flex-grow-1 z-index-1"
  contentClass=""
  [data]="data"
  [trackByFn]="boundTrackByFn"
  perspective="1000px"
  transition="all 1s"
  [translateX]="translateX"
  [translateY]="translateY"
  [translateZ]="translateZ"
  [rotateX]="rotateX"
  [maxTranslateZ]="maxTranslateZ"
  (initContent)="initContent($event)"
  (transformContent)="transformContent($event)"
  (contentActive)="contentActive($event)"
  (contentVisible)="contentVisible($event)"
  (delta)="delta($event)"
  [width]="(smallDevice | async)?.matches ? '320px' : '480px'"
  [height]="(smallDevice | async)?.matches ? '320px' : '320px'">
  <mat-card class="time-machine-content display-flex flex-direction-column"
    *timeMachineContent="let content"
    [ngClass]="{'active': content.active}"
    [mouseOverAudio]="'mouseOverAudio'" [clickAudio]="'clickAudio'"
    (click)="cardClicked(content)"
    [ngStyle]="{ 
      'width': (smallDevice | async)?.matches ? '320px' : '480px',
      'height': (smallDevice | async)?.matches ? '320px' : '320px'
    }">
    <profile class="flex-grow-1" [data]="content.data" [userZodiacSign]="userZodiacSign"></profile>
  </mat-card>
</time-machine>
