:host {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

mat-card {
    border-color: transparent;
    background-color: transparent;
    
    padding: 0;
    display: flex;
    flex-direction: column;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}