
<time-machine
  #timeMachine
  class="flex-grow-1 z-index-1"
  width="480px"
  height="320px"
  contentClass=""
  [data]="data"
  [trackByFn]="boundTrackByFn"
  perspective="1000px"
  transition="all 1s"
  [translateX]="translateX"
  [translateY]="translateY"
  [translateZ]="translateZ"
  [rotateX]="rotateX"
  [maxTranslateZ]="maxTranslateZ"
  (initContent)="initContent($event)"
  (transformContent)="transformContent($event)"
  (contentActive)="contentActive($event)"
  (contentVisible)="contentVisible($event)"
  (delta)="delta($event)">
  <mat-card class="time-machine-content display-flex flex-direction-column"
    *timeMachineContent="let content"
    [ngClass]="{'active': content.active}"
    [mouseOverAudio]="'mouseOverAudio'" [clickAudio]="'clickAudio'"
    (mouseover)="
      content.data.compatibility = zodiacCompatibility[userZodiacSign][content.data.zodiacSign].compatibility;
      content.data.communication = zodiacCompatibility[userZodiacSign][content.data.zodiacSign].communication;
      content.data.sex = zodiacCompatibility[userZodiacSign][content.data.zodiacSign].sex;
      content.data.imgOpacity = 1;"
    (mouseleave)="
      content.data.compatibility = 0;
      content.data.communication = 0;
      content.data.sex = 0;
      content.data.imgOpacity = 0"
    (click)="cardClicked()">
    <div class="flex-shrink-0 display-flex">
      <div class="display-flex flex-direction-column">
        <div class="flex-grow-1"></div>
        <img [src]="content.data.photoURL" [ngStyle]="{'opacity': content.data.imgOpacity ? content.data.imgOpacity : 0}">
        <div class="flex-grow-1"></div>
      </div>
      <div class="flex-grow-1"></div>
      <div class="display-flex flex-direction-column">
        <div class="flex-grow-1"></div>
        <mat-progress-spinner
          class="compatibility margin-left-8px"
          diameter="48"
          strokeWidth="16"
          mode="determinate"
          [value]="content.data.compatibility"
          [matTooltip]="'compatibility ' + content.data.compatibility + '%'">
        </mat-progress-spinner>
        <div class="flex-grow-1"></div>
      </div>
      <div class="display-flex flex-direction-column">
        <div class="flex-grow-1"></div>
        <mat-progress-spinner
          class="communication margin-left-8px"
          diameter="48"
          strokeWidth="16"
          mode="determinate"
          [value]="content.data.communication"
          [matTooltip]="'communication ' + content.data.communication + '%'">
        </mat-progress-spinner>
        <div class="flex-grow-1"></div>
      </div>
      <div class="display-flex flex-direction-column">
        <div class="flex-grow-1"></div>
        <mat-progress-spinner
          class="sex margin-left-8px"
          diameter="48"
          strokeWidth="16"
          mode="determinate"
          [value]="content.data.sex"
          [matTooltip]="'sex ' + content.data.sex + '%'">
        </mat-progress-spinner>
        <div class="flex-grow-1"></div>
      </div>
    </div>
    <div class="display-flex">
      <div class="flex-grow-1"></div>
      <zodiac-sign [width]="'128px'" [height]="'128px'" [zodiacSign]="content.data.zodiacSign"></zodiac-sign>
      <div class="flex-grow-1"></div>
    </div>
    <p [ngStyle]="{'opacity': content.data.imgOpacity ? content.data.imgOpacity : 0}">{{zodiacCompatibility[userZodiacSign][content.data.zodiacSign].description}}</p>
  </mat-card>
</time-machine>
