.display-flex {
    display: flex !important;
}

.flex-direction-column {
    flex-direction: column !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-shrink-1 {
    flex-shrink: 0 !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-flex-start {
    justify-content: flex-start !important;
}

.justify-content-flex-end {
    justify-content: flex-end !important;
}

.align-items-flex-start {
    align-items: flex-start !important;
}

.align-items-flex-end {
    align-items: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-baseline {
    align-items: baseline !important;
}

.align-items-stretch {
    align-items: stretch !important;
}